<div class="container py-2 d-flex flex-column justify-content-around align-items-center my-100vh">
    <div class="row justify-content-center">
        <img src="../../../../assets/Logo.png" alt="logo" class="my-logo">
    </div>
    <div class="row my-w-60">
        <p class="auth-p">
            Create new acccount
        </p>
        <h2 class="auth-h">
            Register
        </h2>

    </div>
    <div class="row my-w-60">
        <div *ngIf="Message" class="alert alert-success " role="alert">
            {{Message}}
          </div>
        <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
            {{errorMessage}}
          </div>
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="FirstName" class="py-2 auth-lable">First Name</label>
                        <input type="text" formControlName="first_name" class=" auth-input border-0" id="FirstName" placeholder="john@mail.com">
                        <span class="text-danger" *ngIf="registerForm.controls?.['first_name']?.hasError('required') && registerForm.controls?.['first_name']?.touched">
                            First Name is <strong>required</strong>
                        </span>
                        <span class="text-danger" *ngIf="registerForm.controls?.['first_name']?.hasError('pattern') && registerForm.controls?.['first_name']?.touched">
                            First Name is <strong>only letters</strong>
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="LastName" class="py-2 auth-lable">Last Name</label>
                        <input type="text" formControlName="last_name" class=" auth-input border-0" id="LastName" placeholder="john@mail.com">
                        <span class="text-danger" *ngIf="registerForm.controls?.['last_name']?.hasError('required') && registerForm.controls?.['last_name']?.touched">
                            Last Name is <strong>required</strong>
                        </span>
                        <span class="text-danger" *ngIf="registerForm.controls?.['last_name']?.hasError('pattern') && registerForm.controls?.['last_name']?.touched">
                            Last Name is <strong>required</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="py-2 auth-lable">E-mail</label>
                <input type="email" formControlName="email" class=" auth-input border-0" id="email" placeholder="john@mail.com">
                <span class="text-danger" *ngIf="registerForm.controls?.['email']?.hasError('required') && registerForm.controls?.['email']?.touched">
                    email is <strong>required</strong>
                </span>
                <span class="text-danger" *ngIf="registerForm.controls?.['email']?.hasError('email') && registerForm.controls?.['email']?.touched">
                    please enter an <strong>email</strong>
                </span>
            </div>
            <div class="form-group">
                <label for="password" class="py-2 auth-lable">Password</label>
                <input type="password" formControlName="password" class=" auth-input border-0" id="password" placeholder="* * * * * *">
                <span class="text-danger" *ngIf="registerForm.controls?.['password']?.hasError('required') && registerForm.controls?.['password']?.touched">
                    password is <strong>required</strong>
                </span>
                <span class="text-danger" *ngIf="registerForm.controls?.['password']?.hasError('pattern') && registerForm.controls?.['password']?.touched">
                    password is must contain<strong> at least 3 characters, one uppercase letter, one lowercase letter, one number, one special character.</strong>
                </span>
                
            </div>
    
            <label for="role" class="py-2 auth-lable">Role</label>
            <select formControlName="role" name="role" id="role" class="auth-input border-0">
                <option value="Customer">Customer</option>
                <option value="Admin">Admin</option>
              </select>
            
            <button type="submit" class="auth-main-btn mt-3 w-100 py-2 rounded-3">Register</button>
            <button class="auth-sec-btn mt-3 w-100 py-2 rounded-3" [routerLink]="['/login']">Login</button>
        </form>
    </div>
</div>
