<footer class="footer-section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="footer-logo">
          <img src="../../../../assets/sample logo 1.png" alt="Logo" />
        </div>
        <p class="footer-text">
          Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <div class="footer-social-icons d-flex justify-content-around">
          <a
            ><img
              src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook.png"
              alt="Facebook"
          /></a>
          <a
            ><img
              src="https://img.icons8.com/ios-glyphs/30/ffffff/linkedin.png"
              alt="LinkedIn"
          /></a>
          <a
            ><img
              src="https://img.icons8.com/ios-glyphs/30/ffffff/twitter.png"
              alt="Twitter"
          /></a>
          <a
            ><img
              src="https://img.icons8.com/ios-glyphs/30/ffffff/youtube-play.png"
              alt="YouTube"
          /></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <h5 class="footer-title">COMPANY</h5>
        <ul class="footer-links">
          <li><a>HOME</a></li>
          <li><a>ABOUT US</a></li>
          <li><a>BOOKS</a></li>
          <li><a>NEW RELEASE</a></li>
          <li><a>CONTACT US</a></li>
          <li><a>BLOG</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <h5 class="footer-title">IMPORTENT LINKS</h5>
        <ul class="footer-links">
          <li><a>Privacy Policy</a></li>
          <li><a>FAQs</a></li>
          <li><a>Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-4 d-flex justify-content-between">
        <p class="footer-copyright">
          &copy; 2022 Arihant. All Rights Reserved.
        </p>
        <p class="footer-privacy"><a>Privacy</a> | <a>Terms of Service</a></p>
      </div>
    </div>
  </div>
  <img src="../../../../assets/ornament f1.png" alt="p-1" class="bg-img1" />
  <img src="../../../../assets/ornament f2.png" alt="p-2" class="bg-img2" />
</footer>
