<header class="my-header ">
  <div class="container-fluid">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"> <div class="row px-4">
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5">
              <h2 class="header-h">ipsum dolor si</h2>
              <p class="header-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut
                magna velit eleifend. Amet, quis urna, a eu.
              </p>
              <div>
              <button class="home-sec-btn rounded-3 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg></button>  
              </div>
              

            </div>
            <div class="col-md-6">
              <img src="../../../assets/Mask Group.png" alt="book" class="header-book-img">
            </div>
          </div></div>
          <div class="swiper-slide"> <div class="row px-4">
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5">
              <h2 class="header-h">ipsum dolor si 2</h2>
              <p class="header-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut
                magna velit eleifend. Amet, quis urna, a eu.
              </p>
              <div>
                <button class="home-sec-btn rounded-3 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg></button>  
                </div>
            </div>
            <div class="col-md-6">
              <img src="../../../assets/Mask Group.png" alt="book" class="header-book-img">
            </div>
          </div></div>
          <div class="swiper-slide"> <div class="row px-4">
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5">
              <h2 class="header-h">ipsum dolor si 3</h2>
              <p class="header-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut
                magna velit eleifend. Amet, quis urna, a eu.
              </p>
              <div>
                <button class="home-sec-btn rounded-3 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg></button>  
                </div>
            </div>
            <div class="col-md-6">
              <img src="../../../assets/Mask Group.png" alt="book" class="header-book-img">
            </div>
          </div></div>
          <div class="swiper-slide"> <div class="row px-4">
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5">
              <h2 class="header-h">ipsum dolor si 4</h2>
              <p class="header-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
                feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut
                magna velit eleifend. Amet, quis urna, a eu.
              </p>
              <div>
                <button class="home-sec-btn rounded-3 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg></button>  
                </div>
            </div>
            <div class="col-md-6">
              <img src="../../../assets/Mask Group.png" alt="book" class="header-book-img">
            </div>
          </div></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
   
       
    
    
    
  </div>
</header>

<main>
    <div class="container my-5 position-relative">
        <!-- Categories Header -->
        <div class="text-start mb-4">
            <h6 class="my-categoty">Categories</h6>
            <h2 class="my-categoty-h">Explore our Top Categories</h2>
        </div>
        
        <!-- Categories Row -->
        <div class="row text-center">
            <!-- Higher Education -->
            <div class="col-md-4">
                <div class="">
                    <img src="../../../assets/Rectangle 1.png" class="card-img-top" alt="Higher Education">
                    <div class="card-body">
                        <h5 class="card-title cat-title py-4">Higher Education</h5>
                    </div>
                </div>
            </div>
            <!-- Management Books -->
            <div class="col-md-4">
                <div class="">
                    <img src="../../../assets/Rectangle 2.png" class="card-img-top" alt="Management Books">
                    <div class="card-body">
                        <h5 class="card-title cat-title py-4">Management Books</h5>
                    </div>
                </div>
            </div>
            <!-- Engineering Books -->
            <div class="col-md-4">
                <div class="">
                    <img src="../../../assets/Rectangle 3.png" class="card-img-top" alt="Engineering Books">
                    <div class="card-body">
                        <h5 class="card-title cat-title py-4">Engineering Books</h5>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- View More Button -->
        <div class="text-center my-4">
            <button class="home-sec-btn rounded-3 px-4">View more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg></button>
        </div>

        <!-- Navigation Arrows -->
        <div class="navigation-arrows">
            <button class="btn btn-light"><</button>
            <button class="btn btn-light">></button>
        </div>
    </div>


    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="container-fluid my-5 py-5 px-5  my-books position-relative">
        <!-- Section Header -->
        <div class="text-center mb-5">
            <p class="my-books-muted">Some Quality Items</p>
            <h2 class="my-section-title">New Release Books</h2>
        </div>

        <!-- Books Row -->
        <div class="row justify-content-center px-5">
            <!-- Book 1 -->
            <div class="col-md-3">
                <div class="book-card">
                    <div class="book-img">
                        <img src="../../../assets/book5 4.png" alt="Simple Way Of Piece Life" class="img-fluid">
                        <button class="add-to-cart-btn">ADD TO CART</button>
                    </div>
                </div>
                    <div class="book-details">
                        <h5 class="book-title">Simple Way Of Piece Life</h5>
                        <p class="book-author">Armor Ramsey</p>
                        <p class="book-price">$ 40.00</p>
                    </div>
                
            </div>
            <!-- Book 2 -->
            <div class="col-md-3">
                <div class="book-card">
                    <div class="book-img">
                        <img src="../../../assets/book3 4.png" alt="Great Travel At Desert" class="img-fluid">
                        <button class="add-to-cart-btn">ADD TO CART</button>
                    </div>
                </div>
                    <div class="book-details">
                        <h5 class="book-title">Great Travel At Desert</h5>
                        <p class="book-author">Sanchit Howdy</p>
                        <p class="book-price">$ 38.00</p>
                    </div>
                
            </div>
            <!-- Book 3 -->
            <div class="col-md-3">
                <div class="book-card">
                    <div class="book-img">
                        <img src="../../../assets/book16 1.png" alt="The Lady Beauty Scarlett" class="img-fluid">
                        <button class="add-to-cart-btn">ADD TO CART</button>
                    </div>
                </div>
                    <div class="book-details">
                        <h5 class="book-title">The Lady Beauty Scarlett</h5>
                        <p class="book-author">Arthur Doyle</p>
                        <p class="book-price">$ 45.00</p>
                    </div>
                
            </div>
            <!-- Book 4 -->
            <div class="col-md-3">
                <div class="book-card">
                    <div class="book-img">
                        <img src="../../../assets/book4 4.png" alt="Once Upon A Time" class="img-fluid">
                        <button class="add-to-cart-btn">ADD TO CART</button>
                    </div>
                </div>
                    <div class="book-details">
                        <h5 class="book-title">Once Upon A Time</h5>
                        <p class="book-author">Klien Marry</p>
                        <p class="book-price">$ 35.00</p>
                    </div>
                
            </div>
        </div>

        <!-- Carousel Indicators -->
        <div class="d-flex justify-content-center my-4">
            <span class="carousel-indicator active"></span>
            <span class="carousel-indicator"></span>
            <span class="carousel-indicator"></span>
        </div>

        <!-- View All Products Link -->
        <div class="text-center">
            <a class="view-all-link">View All Products →</a>
        </div>
    </div>



    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="container-fluid my-5 position-relative Featured-Book">
        <div class="row align-items-center">
            <!-- Book Image -->
            <div class="col-md-5 text-center">
                <img src="../../../assets/book.png" alt="Featured Book" class="img-fluid ">
            </div>
            <!-- Book Details -->
            <div class="col-md-7">
                <h3 class="featured-title pb-5">Featured Book</h3>
                <p class="featured-author">BY TIMBUR HOOD</p>
                <h4 class="book-title pt-3">Birds Gonna Be Happy</h4>
                <p class="book-description py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                <p class="book-price pb-5">$ 45.00</p>
                <button class="home-sec-btn rounded-3 px-4">View more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                  </svg></button>
            </div>
        </div>

        <!-- Carousel Indicators and Arrows -->
        <div class="d-flex justify-content-center align-items-center mt-4">

            <div class="carousel-indicators">
                <span class="carousel-indicator active"></span>
                <span class="carousel-indicator"></span>
                <span class="carousel-indicator"></span>
            </div>

        </div>
    </div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="container my-3">
    <div class="row align-items-center offer-section my-5">
        <div class="col-md-6">
            <h2 class="offer-heading">All books are 50% off now!<br>Don't miss such a deal!</h2>
            <p class="offer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,
                libero ipsum enim pharetra hac.</p>

            <div class="countdown">
                <span><span class="countdown-num">768</span> <br> <span class="countdown-text">DAYS</span></span>
                <span><span class="countdown-num">01</span> <br> <span class="countdown-text">HOUR</span></span>
                <span><span class="countdown-num">27</span> <br> <span class="countdown-text">MINT</span></span>
                <span><span class="countdown-num">55</span> <br> <span class="countdown-text">SEC</span></span>
            </div>

          
        </div>

        <div class="col-md-6 text-center">
            <img src="../../../assets/Unsplash.png" alt="Books on Sale" class="books-img">
        </div> <div class="dots">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div >
    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    
</div>
<section class="my-5 subscribe-section pt-0 position-relative">
        <div class="container text-center my-sub-contain d-flex flex-column align-items-center justify-content-center position-relative py-5">
            <h2 class="subscribe-title">Subscribe to Our Newsletter</h2>
            <p class="subscribe-text">Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit adipiscing enim pharetra hac.</p>
            <div class="d-flex justify-content-center w-50 form-div">
                <form class="subscribe-form d-flex justify-content-between align-items-center p-3 ">
                    <div class="form-text">
                        <span class="p-2 border">✉️</span>
                        youremail123&#64;gmail.com
                    </div>
                    
                    <button class="btn btn-danger">SUBSCRIBE</button>
                </form>
            </div>
        </div>
        <img src="../../../assets/ornament1.png" alt="" class="my-bg-1">
        <img src="../../../assets/ornament3.png" alt="" class="my-bg-2">
        <img src="../../../assets/ornament2.png" alt="" class="my-bg-3">
    </section>
<!-- ///////////////////////////////////////////////////////////////// -->
<!-- <section class="latest-articles-section py-5">
    <div class="container">
        <div class="text-center mb-4">
            <p class="section-subtitle">READ OUR ARTICLES</p>
            <h2 class="section-title">Latest Articles</h2>
        </div>
        <div class="row"> -->
            <!-- Article 1 -->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Article 1">
                    <div class="card-body">
                        <p class="card-date">2 Aug, 2021</p>
                        <h5 class="card-title">Reading Books Always Makes The Moments Happy</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/facebook-new.png" alt="Facebook"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/twitter.png" alt="Twitter"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/instagram-new.png" alt="Instagram"/></a>
                    </div>
                </div>
            </div> -->
            <!-- Article 2 -->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Article 2">
                    <div class="card-body">
                        <p class="card-date">2 Aug, 2021</p>
                        <h5 class="card-title">Reading Books Always Makes The Moments Happy</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/facebook-new.png" alt="Facebook"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/twitter.png" alt="Twitter"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/instagram-new.png" alt="Instagram"/></a>
                    </div>
                </div>
            </div> -->
            <!-- Article 3 -->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Article 3">
                    <div class="card-body">
                        <p class="card-date">2 Aug, 2021</p>
                        <h5 class="card-title">Reading Books Always Makes The Moments Happy</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/facebook-new.png" alt="Facebook"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/twitter.png" alt="Twitter"/></a>
                        <a href="#"><img src="https://img.icons8.com/ios-glyphs/24/000000/instagram-new.png" alt="Instagram"/></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="#" class="btn btn-outline-dark">READ ALL ARTICLES →</a>
        </div>
    </div>
</section> -->

</main>